body {
    margin: 0px;
    font-family: 'Roboto';
    font-style: normal;
}
.header {   
    width: 100%;
    height: 80px;
    background-color: #fff;
    text-decoration: none;
    display: flex;
}
.contact {
    padding-left: 258px;
    margin-top: 25px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.02em;
    color: #2196F3;
    list-style-type: none;
    text-decoration: none;
}
.contacts {
    justify-content: space-between;
    display: flex;
    margin-top: 32px;
    margin-left: auto;
    margin-right: 30px;
    list-style-type: none;
}
.logo {
    margin-right: 95px;
    text-decoration: none;
    font-weight: 700;
    font-size: 26px;
    line-height: 31px;
    letter-spacing: 0.03em;
    color: #2196F3;
}
.logo2 {
    color: black;
}
.header-li {
    margin-right: 50px;
    text-decoration: none;
    color: #212121;
}
.header-li:hover {
    color: #2196F3;
}
.nav-li {
    margin-right: 50px;
    text-decoration: none;
    color: #212121;
}
.nav-li:hover {
    color: #2196F3;
}
.section1 {
    width: 100%;
    height: 600px;
    background-color: #2F303A;
}
.title {
    margin: 0px;
    font-weight: 900;
    font-size: 44px;
    line-height: 60px;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: #FFFFFF;
    padding-top: 200px;
    text-align: center;
}
.button {
    font-weight: 700;
    font-size: 16px;
    line-height: 30px;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;
    color: #FFFFFF;
    background: #2196F3;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    border: #2F303A;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 32px;
    padding-right: 32px;
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
}
.section2 {
    margin-left: 16.1rem;
    margin-right: 16.1rem;
    padding-right: 30px;
    list-style-type: none;
    display: flex;
}
.title1 {
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.03em;
    text-transform: uppercase;

    color: #212121;
}
.text1 {
    padding-right: 30px;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.03em;
    color: #757575;
}
.title2 {
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #212121;
}
.text2 {
    padding-right: 30px;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.03em;
    color: #757575;
}
.title3 {
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.03em;
    text-transform: uppercase;

    color: #212121;
}
.text3 {
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    padding-right: 30px;
    letter-spacing: 0.03em;
    color: #757575;
}
.title4 {
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #212121;
}
.text4 {
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    padding-right: 30px;
    letter-spacing: 0.03em;
    color: #757575;
}
.title-section2 {
    font-weight: 700;
    font-size: 36px;
    line-height: 42px;
    text-align: center;
    letter-spacing: 0.03em;
    margin-top: 118px;
    color: #212121;
}
.section3 {
    list-style-type: none;
    display: flex;
    margin-left: 19.5em;
    margin-bottom: 94px;
}
 .img1-section2 {
    padding-right: 2.5em;
}
.img2-section2 {
    padding-right: 2.5em;
}
.img3-section2 {
    padding-right: 2.5em;
} 
.colo-section3 {
    background-color: #F5F4FA;
    height: 648px;
}
.box1 {
    background-color: #FFFFFF;
    text-align: center;
    margin-right: 2em;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
}
.title-box1 {
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: 0.03em;
    color: #212121;
} 
.text-box1 {
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: 0.03em;
    color: #757575;
}
.title-section3 {
    font-weight: 700;
    font-size: 36px;
    line-height: 42px;
    text-align: center;
    letter-spacing: 0.03em;
    padding-top: 96px;
    color: #212121;
}
.buttons {
    list-style-type: none;
    display: flex;
    justify-content: center;
}
.buttons1 {
    padding-left: 22px;
    padding-right: 22px;
    padding-top: 6px;
    padding-bottom: 6px;
    margin-right: 10px;
    background: #F5F4FA;
    font-weight: 500;
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    letter-spacing: 0.03em;
    color: #212121;
    box-shadow: none;
    border: #F5F4FA;
}
.buttons1:hover {
    background: #2196F3;
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    text-align: center;
    letter-spacing: 0.03em;    
    color: #FFFFFF;
    border: #F5F4FA;
    font-weight: 500;
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    letter-spacing: 0.03em;
}
.main-box1 {
    margin-right: 30px;
    box-sizing: border-box;
    background: #FFFFFF;
    border: 1px solid #EEEEEE;
    list-style-type: none;
    width: 370px;
    height: 404px;
}
.boxing {
    margin-top: 56px;
    display: flex;
    justify-content: center;
}
.boxing1 {
    margin-top: 30px;
    display: flex;
    justify-content: center;
}
.boxing2 {
    margin-top: 30px;
    display: flex;
    justify-content: center;
}
.main-img1 {
    width: 370px;
    height: 294px;
}
.main-title1 {
    font-weight: 700;
    font-size: 18px;
    line-height: 36px;
    letter-spacing: 0.06em;
    color: #212121;
    margin-left: 24px;
}
.main-text1 {
    font-weight: 400;
    font-size: 16px;
    line-height: 30px;
    letter-spacing: 0.03em;
    color: #757575;
    margin-left: 24px;
}
.visually-hidden {
    visibility: hidden;
}
.footer {
    background: #2F303A;
    padding-left: 258px;
    padding-top: 60px;
    padding-bottom: 60px;
}
.footer-logo {
    margin-left: 40px;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 31px;
    letter-spacing: 0.03em;
    color: #2196F3;
    text-decoration: none;
    list-style-type: none;
}
.footer-logo2 {
    color: #FFFFFF;
}
.footer-location:hover {
    text-decoration: none;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px; 
    letter-spacing: 0.03em; 
    color: #FFFFFF;
}
.footer-location {
    text-decoration: none;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px; 
    letter-spacing: 0.03em; 
    color: rgba(255, 255, 255, 0.6);
}
.footer-address {
    list-style-type: none;
}
.line {
    border: 1px solid #ECECEC;
    margin: 0;
}