body {
    margin: 0px;
    font-family: 'Roboto';
    font-style: normal;
}
.header {
    width: 100%;
    height: 80px;
    background-color: #fff;
    text-decoration: none;
}
.contact {
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.02em;
    color: #2196F3;
    display: flex;
   position: absolute;
    list-style-type: none;
    text-decoration: none;
}
.contact > li {
    text-decoration: none;
}
.logo {
    position: absolute;
    width: 145px;
    height: 31px;
    left: 215px;
    top: 24px;
    text-decoration: none;
    font-weight: 700;
    font-size: 26px;
    line-height: 31px;
    letter-spacing: 0.03em;
    color: #2196F3;
}
.logo2 {
    color: black;
}
.studio {
   position: absolute;
    width: 45px;
    height: 16px;
    left: 453px;
    top: 24px;
    text-decoration: none;
    color: #212121;
}
.studio:hover {
    color: #2196F3;
}
.portfolio {
   position: absolute;
    width: 72px;
    height: 16px;
    left: 548px;
    top: 24px;
    text-decoration: none;
    color: #212121;
}
.portfolio:hover {
    color: #2196F3;
}
.contacts {
   position: absolute;
    width: 64px;
    height: 16px;
    left: 670px;
    top: 24px;
    text-decoration: none;
    color: #212121;
}
.contacts:hover {
    color: #2196F3;
}
.tel {
   position: absolute;
    width: 135px;
    height: 16px;
    left: 1078px;
    top: 24px;
    text-decoration: none;
    color: #212121;
}
.tel:hover {
    color: #2196F3;
}
.mail {
    position: absolute;
    width: 122px;
    height: 16px;
    left: 1263px;
    top: 24px;   
    color: #212121;
    text-decoration: none;
}
.mail:hover {
    color: #2196F3;
}
.section1 {
    width: 100%;
    height: 600px;
    background-color: #2F303A;
}
.title {
    margin: 0px;
    font-weight: 900;
    font-size: 44px;
    line-height: 60px;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: #FFFFFF;
    padding-top: 200px;
    padding-left: auto;
    padding-right: auto;
    text-align: center;
}
.button {
    font-weight: 700;
    font-size: 16px;
    line-height: 30px;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;
    color: #FFFFFF;
    background: #2196F3;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    border: #2F303A;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 32px;
    padding-right: 32px;
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
}
.section2 {
    margin-left: 16.1rem;
    margin-right: 16.1rem;
    padding-right: 30px;
    list-style-type: none;
    display: flex;
}
.title1 {
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.03em;
    text-transform: uppercase;

    color: #212121;
}
.text1 {
    padding-right: 30px;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    /* or 171% */

    letter-spacing: 0.03em;

    color: #757575;
}
.title2 {
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.03em;
    text-transform: uppercase;

    color: #212121;
}

.text2 {
    padding-right: 30px;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    /* or 171% */

    letter-spacing: 0.03em;

    color: #757575;
}
.title3 {
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.03em;
    text-transform: uppercase;

    color: #212121;
}

.text3 {
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    /* or 171% */
    padding-right: 30px;
    letter-spacing: 0.03em;

    color: #757575;
}
.title4 {
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.03em;
    text-transform: uppercase;

    color: #212121;
}

.text4 {
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    /* or 171% */
    padding-right: 30px;
    letter-spacing: 0.03em;

    color: #757575;
}
.title-section2 {
    font-weight: 700;
    font-size: 36px;
    line-height: 42px;
    text-align: center;
    letter-spacing: 0.03em;

    color: #212121;
}
.section3 {
    list-style-type: none;
    display: flex;
    margin-left: 19.5em;
    margin-bottom: 94px;
}
 .img1-section2 {
    padding-right: 2.5em;
}
.img2-section2 {
    padding-right: 2.5em;
}
.img3-section2 {
    padding-right: 2.5em;
} 
.colo-section3 {
    background-color: #F5F4FA;
    height: 648px;
}
.box1 {
    background-color: #FFFFFF;
    text-align: center;
    margin-right: 2em;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
}
.title-box1 {
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: 0.03em;
    color: #212121;
} 
.text-box1 {
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: 0.03em;
    color: #757575;
}
.title-section3 {
    font-weight: 700;
    font-size: 36px;
    line-height: 42px;
    text-align: center;
    letter-spacing: 0.03em;
    padding-top: 96px;
    color: #212121;
}
/* .footer {
    position: absolute;    
    width: 1600px;
    height: 252px;
    left: 0px;
    top: 2094px;
    background-color: #2F303A;
    text-decoration: none;   
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.footer-logo {
    margin-left: 215px;
}
.footer-address {
    list-style-type: none;
    text-decoration: none;
    margin-left: 215px;
    padding-left: 0;
}
.footer-location > a {
    width: 231px;
    height: 21px;
    color: #FFFFFF;
}
.footer-mail > a {
    width: 231px;
    height: 21px;
    left: 215px;
    color: rgba(255, 255, 255, 0.6);
}
.footer-tel>a {
    width: 231px;
    height: 21px;
    left: 215px;
} */