html {
    width: 1600px;
}
.header {
    width: 1600px;
    height: 80px;
}
.contact {
    color: #000;
    text-decoration: none;
    list-style-type: none;
    display: flex;
}
.contact li {
    margin-left: 50px;
    margin-top: 32px;
    font-size: 14px;
}
.logo {
    text-decoration: none;
    position: absolute;
    width: 145px;
    height: 31px;
    left: 215px;
    top: 24px;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 31px;
    letter-spacing: 0.03em;
    color: #2196F3;
}
.logo2 {
    color: #000;   
}
.studio {
    text-decoration: none;
    position: absolute;
    width: 45px;
    height: 16px;
    left: 453px;
    top: 32px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.02em;
    color: #2196F3;
}
.portfolio {
    text-decoration: none;
    position: absolute;
    width: 72px;
    height: 16px;
    left: 548px;
    top: 32px;    
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.02em;    
    color: #212121; 
}
.contacts {
    text-decoration: none;
    position: absolute;
    width: 64px;
    height: 16px;
    left: 670px;
    top: 32px;    
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.02em;    
    color: #212121;
}
.mail {
    text-decoration: none;
    position: absolute;
    width: 135px;
    height: 16px;
    left: 1078px;
    top: 32px;    
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.02em;   
    color: #2196F3;
}
.tel {
    position: absolute;
    width: 122px;
    height: 16px;
    left: 1263px;
    top: 32px;   
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.02em;   
    color: #757575;
}
.section1 {
    position: absolute;
    width: 1600px;
    height: 600px;
    left: 0px;
    top: 80px;
    background: #000;
}
.title {
    margin-top: 200px;
    text-align: center;
    color: #ffffff;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 900;
    font-size: 44px;
    line-height: 60px;
}
.button {
    margin-left: 692px;
    margin-right: 692px;
    color: #ffffff;
    width: 216px;
    height: 50px;
    left: 692px;
    top: 430px;
    background: #2196F3;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
}
.section2 {
    list-style-type: none;
}
.title1 {
    position: absolute;
    width: 270px;
    height: 16px;
    left: 215px;
    top: 774px;
    
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    
    color: #212121;
}
.title2 {
    position: absolute;
    width: 270px;
    height: 16px;
    left: 515px;
    top: 774px;
    
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    
    color: #212121;
}
.title3 {
    position: absolute;
    width: 270px;
    height: 16px;
    left: 815px;
    top: 774px;
    
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    
    color: #212121;
}
.title4 {
    position: absolute;
    width: 270px;
    height: 16px;
    left: 1115px;
    top: 774px;
    
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    
    color: #212121;
    
}
.text1 {
    position: absolute;
    width: 270px;
    height: 72px;
    left: 215px;
    top: 800px;
    
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    /* or 171% */
    
    letter-spacing: 0.03em;
    
    color: #757575;
}
.text2 {
    position: absolute;
    width: 270px;
    height: 48px;
    left: 515px;
    top: 800px;
    
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    
    letter-spacing: 0.03em;
    
    color: #757575;
    
}
.text3 {
    position: absolute;
    width: 270px;
    height: 48px;
    left: 815px;
    top: 800px;
    
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    /* or 171% */
    
    letter-spacing: 0.03em;
    
    color: #757575;
}
.text4 {
    position: absolute;
    width: 270px;
    height: 72px;
    left: 1115px;
    top: 800px;
    
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    /* or 171% */
    
    letter-spacing: 0.03em;
    
    color: #757575;
    
}
.section2 {
    list-style-type: none;
}
.title-section2 {
    position: absolute;
    width: 366px;
    height: 42px;
    left: 617px;
    top: 966px;
    
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 42px;
    text-align: center;
    letter-spacing: 0.03em;
    
    color: #212121;
}
.img1-section2 {
    position: absolute;
    width: 370px;
    height: 294px;
    left: 215px;
    top: 1058px;
    mix-blend-mode: normal;
}
.img2-section2 {
    position: absolute;
    width: 370px;
    height: 294px;
    left: 615px;
    top: 1058px;
}
.img3-section2 {
    position: absolute;
    width: 370px;
    height: 294px;
    left: 1015px;
    top: 1058px;    
}
.section3 {
    list-style-type: none;
}
.title-section3 {
    position: absolute;
    width: 264px;
    height: 42px;
    left: 668px;
    top: 1540px;
    
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 42px;
    text-align: center;
    letter-spacing: 0.03em;
    
    color: #212121;
}
.box1 {
    position: absolute;
    width: 270px;
    height: 368px;
    left: 215px;
    top: 1632px;
    
    background: #FFFFFF;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
}
.title-box1 {   
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    letter-spacing: 0.03em;   
    color: #212121;
}
.text-box1 {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px; 
    text-align: center;
    letter-spacing: 0.03em;
    color: #757575;
}
.box2 {
    position: absolute;
    width: 270px;
    height: 368px;
    left: 515px;
    top: 1632px;
    background: #FFFFFF;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
}
.title-box2 {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px; 
    text-align: center;
    letter-spacing: 0.03em; 
    color: #212121;    
}
.text-box2 {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    letter-spacing: 0.03em;
    color: #757575;
        
}
.box3 {
    position: absolute;
    width: 270px;
    height: 368px;
    left: 815px;
    top: 1632px; 
    background: #FFFFFF;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
        
}
.title-box3 {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;  
    text-align: center;
    letter-spacing: 0.03em;
    color: #212121;    
}
.text-box3 { 
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    letter-spacing: 0.03em; 
    color: #757575;    
}
.box4 {
    position: absolute;
    width: 270px;
    height: 368px;
    left: 1115px;
    top: 1632px;  
    background: #FFFFFF;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
       
}
.title-box4 { 
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;  
    text-align: center;
    letter-spacing: 0.03em; 
    color: #212121;    
}
.text-box4 {  
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    /* identical to box height */   
    text-align: center;
    letter-spacing: 0.03em;   
    color: #757575;    
}
.footer {
    position: absolute;
    width: 1600px;
    height: 252px;
    left: 0px;
    top: 2094px;   
    background-color: #2F303A;
    text-decoration: none;
}
.footer-logo {
    margin-left: 215px;
    text-decoration: none;
    text-decoration: none;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 31px;
    /* identical to box height */
    
    letter-spacing: 0.03em;
    
    color: #2196F3;
}
.footer-address {
    list-style-type: none;
    text-decoration: none;
}
.footer-location {

    width: 231px;
    height: 21px;
    left: 215px;
    top: 2205px;
    text-decoration: none;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    /* or 171% */
    
    letter-spacing: 0.03em;
    
    color: #FFFFFF;
    
}
.footer-mail {
    width: 231px;
    height: 21px;
    left: 215px;
    top: 2235px;
    text-decoration: none;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    /* or 171% */
    
    letter-spacing: 0.03em;
    
    color: rgba(255, 255, 255, 0.6);
}
.footer-tel {
    width: 231px;
    height: 21px;
    left: 215px;
    top: 2265px;
    text-decoration: none;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
}
.footer-logo2 {
    color: #ffffff;
}